 /*
  Version: 1.0
  Created date: 29 Nov 2019
  The national platforms for Nutrition project Lao PDR
  Data Analysis Unit, Center for Development Policy Research 
  Ministry of Planning and Inestment 
  Created by: Data Analysis Unit 
*/
 @media (min-width: 768px) {
  .container{
    max-width: 970px;
  }
}


/*Customize Card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

.cardChart {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

.card#highLight {
  height: 192px;
  width: 100%;
}
.card#highLight h1 {
  font-size: 50px;
  color: #fff;
  padding: 10px;
  text-align: right;
}

.card#highLight p {
  font-size: 18px;
  color: #fff;
  padding: 10px;
  text-align: right;
}

.card h1, p{
  padding: 10px;
  text-align: center;
}

.card#sec1, .card#sec2 {
  background: #ffcdd2;
  height: auto !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
 
  .nav-tabs{
    border-style: none;
    font-size: 18px;
  }
  .full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}
.green{
  font-weight: bolder;
}
.footer-fixed-bottom-wrap {
  width: 100%;
  height: auto;
  z-index: 1000 !important;
  bottom: 0;
  margin-top: 5px;
}
.footer-fixed-bottom {
  text-align: center;
  background: #efefef;
}
.footer-fixed-bottom > .copyright {
  margin: 0;
  padding: 25px;
}
.footer-fixed-bottom > .btn {
  border-radius: 0;
}
/*  
top header
*/
.header-fixed-bottom-wrap {
  width: 100%;
  height: auto;
  z-index: 1000 !important;
  bottom: 0;
  text-align: right;
}
.header-fixed-bottom {
  text-align: right;
  background: #efefef;
  padding: 15px;
}
.header-fixed-bottom > .copyright {
  margin: 0;
  padding: 25px;
  box-shadow: 10px 10px 5px #888;
}
.header-fixed-bottom > .btn {
  border-radius: 0;
}
  